<!DOCTYPE html>
<html lang="en-US">
<head>
  <% include ../partials/core/head-open %>
  <title>Error</title>
  <% include ../partials/core/head-close %>
</head>
<body style="background:grey;color:white;">
  <% include ../partials/core/body-open %>
  <pre><%= fancy.text('page.error') %></pre>
  <p><%= fancy.text('page.message') %></p>
  <% include ../partials/core/body-close %>
</body>
</html>
