<!DOCTYPE html>
<html lang="en-US">
<head>
  <% include ../partials/core/head-open %>
  <% include ../partials/core/head-title %>
  <% include ../partials/core/head-close %>
</head>
<body>
  <% include ../partials/core/body-open %>

  <%- page.body %>

  <% include ../partials/shared/footer %>
  <% include ../partials/core/body-close %>
</body>
</html>
