        <div>
          <h4>Items</h4>
          <ol>
            <% fancy.value('constants.site.items', []).forEach(function(link) { %>
              <% fancy.utils.eachKey(link, function(name, url) { %>
                <li><a href="<%= url %>"><%= name %></a></li>
              <% }) %>
            <% }) %>
          </ol>
        </div>
